.navbar
{
  list-style: none;
  display: inline-block;
}
.card
{
  background-color: rgb(0, 255, 242);
}
.imga
{
  width: 200px;
  height: 300px;
}

.card 
{
  margin: 12px 12px;
  border-radius: 7px;  
  border: 2px solid red;
  display: inline-flex;
  justify-content: center;
}
.image
{
  border: 2px solid navy;
  display: inline-block;
  border-radius: 5px;
  justify-content: center;
}